<div class="navbar" id="nav1">
	<a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
	
	<div class=row><div class="line push_one ten columns"></div></div>
	
		<ul class="">
			<li ><%= link_to "HOME", home_path %></li>
			<li ><%= link_to "BLOG", posts_path %></li>
			<li ><a href="#">CLIENT</a></li>
			<li ><a href="#">VENDORS</a></li>
			<li ><a href="#">CONTACT</a></li>
		</ul>
</div><!-- #site-navigation -->